
@{
    ViewBag.Title = "ListEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-employee">
    <h1>
        Danh sách nhân viên
    </h1>
    <div class="list-detail">
        <div class="row">
            <button class="btn add-employee"><i class="fas fa-plus"></i> Thêm nhân viên</button>
            <div class="form-check d-flex">
                <span>Chọn : </span>
                <label class="radio-inline"><input type="radio" name="optradio" class="mr-2">Mã nhân viên</label>
                <label class="radio-inline"><input type="radio" name="optradio" class="mr-2">Tên nhân viên</label>
                <label class="radio-inline"><input type="radio" name="optradio" class="mr-2">Phòng ban</label>
            </div>
        </div>
        <div class="row mt-3">
            <button class="btn all-choose"><i class="fas fa-tasks"></i> Chọn hết</button>
            <button class="btn unchoose"><i class="fas fa-bars"></i> Bỏ chọn</button>
            <input class="input-search" type="text" placeholder="Mời nhập..." />
            <button class="btn btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
            <button class="btn btn-reload"><i class="fas fa-sync-alt"></i> Tải lại</button>
        </div>
    </div>

    <div class="row text-center detail-employee">
        <div class="col-lg-1">Chọn</div>
        <div class="col-lg-2">Mã nhân viên</div>
        <div class="col-lg-2">Họ và tên</div>
        <div class="col-lg-1">Giới tính</div>
        <div class="col-lg-2">Ngày sinh</div>
        <div class="col-lg-1">Chức vụ</div>
        <div class="col-lg-1">Phòng ban</div>
        <div class="col-lg-1">Chức năng</div>
    </div>
    <div class="row container button-footer">
        <div class="left-button">
            <button class="btn btn-delete_employee mr-2"><i class="fas fa-user-minus"></i> Xóa nhân viên</button>
            <button class="btn btn-add_award mr-2"><i class="fas fa-award"></i> Thêm khen thưởng</button>
            <button class="btn btn-add_discipline mr-2"><i class="fas fa-poll-h"></i> Thêm kỷ luật</button>
        </div>
        <div class="right-button">
            <label class="radio-inline"><input type="radio" name="xinphepnghi" class="mr-2">Không phép</label>
            <label class="radio-inline"><input type="radio" name="xinphepnghi" class="mr-2">Có phép</label>
            <button class="btn btn-adsent"><i class="fas fa-street-view"></i> Nghỉ</button>
        </div>
    </div>
</div>


