
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="container" style="width:40%; margin-top:2%">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" đata-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Quên mật khẩu</h3>

                    </div>

                    <div class="modal-body">
                        <form id="myForm">
                            @Html.TextBoxFor(model => model.TenTK, new { @class = "form-control", @placeholder = "Nhập tên tài khoản" })
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Nhập email" })
                        </form>
                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-danger" data-dismiss="modal">Hủy</a>
                        <input type="reset" value="Gửi mail" id="btnSendEmail" class="btn btn-success">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
